<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link href="https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <title>NANONANONANONANONANONANO-as-a-Service</title>
  <style>
    body {
      font-family: "Lato", "Roboto", "just anything extraordinary would work fine", sans-serif;
    }

    main {
      padding-top: 40px;
      padding-left: 20px;
    }

    textarea {
      width: 100%;
      height: 50vh;
    }
  </style>
</head>
<body>
<main>
  <h1>NANO
    <wbr>
    NANO
    <wbr>
    NANO
    <wbr>
    NANO
    <wbr>
    NANO
    <wbr>
    NANO
    <wbr>
    <small>-as
      <wbr>
      -a
      <wbr>
      -Service
      <small>v2</small>
    </small>
  </h1>
  <h3>kindly provided by <a href="https://ijestfajnie.pl">Michcioperz</a></h3>
  <h5>source code available, MIT License: <a href="https://github.com/michcioperz/nnnnnnaas">github.com/michcioperz/nnnnnnaas</a>
  </h5>
  <hr/>
  <h4>targets: {{ ", ".join(texts) }}</h4>
  <h4>formats: {{ ", ".join(formats) }}</h4>
  <h4>response char limit: {{ limit }}</h4>
  <h2>
    <code id="uri">
      <a target="_blank">/<span id="target">{target}</span>.<span id="format">{format}</span>?paragraphs=<span id="paragraphs">1</span>&repeats=<span id="repeats">6</span></a>
    </code>
  </h2>
</main>
<script>
  var formats, texts
  var main = document.querySelector('main')
  function randomFrom(arr) {
    return arr[Math.floor(Math.random() * arr.length)]
  }
  if (self.fetch) {
    fetch('{{ url_for('api_json') }}').then((response) => {
      return response.json()
    }).then((data) => {
      formats = data.formats
      texts = data.texts
      var uriElement = document.getElementById('uri')
      var targetElement = document.getElementById('target')
      var formatElement = document.getElementById('format')
      var paragraphsElement = document.getElementById('paragraphs')
      var repeatsElement = document.getElementById('repeats')
      var magicField = document.createElement('textarea')
      magicField.setAttribute('id', 'magic')
      magicField.setAttribute('readonly', 'readonly')
      main.appendChild(magicField)
      var randomizer = document.createElement('button')
      randomizer.textContent = "Randomize!"
      randomizer.addEventListener('click', () => {
        targetElement.textContent = randomFrom(texts)
        formatElement.textContent = randomFrom(formats)
        paragraphsElement.textContent = '' + Math.round(Math.random() * 10 + 1)
        repeatsElement.textContent = '' + Math.round(Math.random() * 10 + 1)
        var url = uriElement.textContent.trim()
        uriElement.getElementsByTagName('a')[0].setAttribute('href', url)
        fetch(url).then((response) => {
          return response.text()
        }).then((body) => {
          magicField.textContent = body
        })
      })
      var twohead = document.getElementsByTagName('h2')[0]
      twohead.insertBefore(randomizer, twohead.firstChild)
    }).catch((ex) => {
      console.log(ex)
      var fallback = document.createElement('h5')
      fallback.textContent = "Dynamic API preview was disabled because we were unable to fetch initial API data"
      main.appendChild(fallback)
    })
  } else {
    var fallback = document.createElement('h5')
    fallback.textContent = "Dynamic API preview was disabled because we did not detect fetch capability in your browser. Perhaps it's outdated, but we do not know that for sure"
    main.appendChild(fallback)
  }
</script>
</body>
</html>
